<div class="news-container">
  <h1 class="news-title">{{title}}</h1>
  <img src={{bannerImage}} alt="">
  <div class="news-meta">
    <span><i class="bi bi-calendar-check"></i> {{date}}</span>
    <span class="reading-time">{{readingTime}}</span>
  </div>

  <div class="news-content">
    {{{content}}} <!-- Hiển thị nội dung bài viết -->
  </div>
</div>

<style>
  .news-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  .news-title {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .news-thumbnail {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
  }
  .news-meta {
    color: gray;
    font-size: 14px;
    margin-bottom: 10px;
  }
  .news-content {
    font-size: 16px;
    line-height: 1.6;
  }
</style>
